:root {
    margin: 5em;
    background-image: url(fuji.jpg);
    background-position: center;
    background-attachment: fixed; 
}

.page-wrapper{
   
    display: grid;
    gap: 20px;
    grid-template: repeat(5,auto)/1fr 1fr;
    grid-template-areas: 'intro intro'
                         'div div'
                         'aside aside';
}

section[class^="intro"] {
    grid-area: intro;
}

div[class="main supporting"]{
    grid-area: div;
    display: grid;
    grid-template-areas: "ex part"
                         "ben ben"
                         "req req";
}

* {
    font-family: "Mono";
    font-size: 19px;
    color: white;
}

[class|="explan"] {
    grid-area: ex;
}

[class~="part"] {
    grid-area: part;

}


#zen-intro {
    padding: 2em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: double;
    border-radius: 15px;
    border-width: 3px;
    border-color: rgb(255, 215, 250);
}



abbr:focus{
    font-size: 20px;
}

h2::first-letter, h3::first-letter{
font-size: 30px;
}

h1 {
    font-size: 50px;
    margin-bottom: 0px;
}

p.intro {
    font-size: 20px;
}

a:visited{
color: rgb(180, 43, 226);
}

[role*="navigation"] {
    list-style-type: none;
    display: inline;
    text-align: center;

}

div p{
    font-family: sans-serif;
}


p>abbr{
    color: rgb(208, 112, 199);
}

h1::before{
    content: "🌸";
}
h1::after{
    content: "🌸";
}

.intro::first-line{
    color: #ffecbb;
    text-shadow: -1px -1px #ffffff;
}

h3:first-of-type, h2:first-of-type{
    font-style: italic;
}

::selection{
    background-color: rgba(255, 158, 249, 0.642);
    color: rgb(0, 0, 0);
}

:not(p){
    color: #ffecbb;
}

a, a > abbr{
    color: rgb(255, 215, 250);
}

a:hover, a abbr:hover {
    color: rgb(255, 166, 243);
}

li{
    list-style-type: none;
}

a:active{
    background-color: #ffecbb;
}


h3:only-of-type{
    color: ;
    text-shadow: -1px -1px #ffffff;
}

h2:only-child{
    size: 30px;
}

{
    color: rgb(138, 138, 199);
}

[class $="mi"]{
    size: 20px;
}

[lang|="en"]{
    font-size: 18px;
}