:root {
    background-image: url(fuji.jpg);
    background-position: center;
    background-attachment: fixed;
}

* {
    font-family: "Mono";
    font-size: 16px;
    color: white;
}

a, a > abbr{
    color: rgb(255, 215, 250);
}

a:hover, a > abbr:hover {
    color: rgb(255, 166, 243);
}

.intro {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: double;
    border-radius: 15px;
    border-width: 3px;
    border-color: rgb(255, 215, 250);
    backdrop-filter: blur(5px)

}

h1::first-letter{
font-size: 60px;
}

h1 {
    font-size: 50px;
    margin-bottom: 0px;
}

.main.explanation {
    backdrop-filter: blur(10px);
}

a:visited{
color: rgb(180, 43, 226);
}

[role*="navigation"] {
    border-style: double;
    border-width: 2px;
    border-radius: 15px;

    align-items: center;
}














